/* reset.css */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}
body{line-height:1.5;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
table,td,th{vertical-align:middle;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
a img{border:none;}
/* typography.css */
html{font-size:100.01%;}
body{font-size:75%;color:#222;background:#fff;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
h1{font-size:3em;line-height:1;margin-bottom:0.5em;}
h2{font-size:2em;margin-bottom:0.75em;}
h3{font-size:1.5em;line-height:1;margin-bottom:1em;}
h4{font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{margin:0;}
p{margin:0 0 1.5em;}
strong{font-weight:bold;}
em,dfn{font-style:italic;}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;}
li ul,li ol{margin:0;}
ul,ol{margin:0 1.5em 1.5em 0;padding-left:3.333em;}
ul{list-style-type:disc;}
ol{list-style-type:decimal;}
dl{margin:0 0 1.5em 0;}
dl dt{font-weight:bold;}
dd{margin-left:1.5em;}
/* forms.css */
input[type=text],input[type=password],input.text,input.title,textarea,select{background-color:#fff;border:1px solid #bbb;}
input[type=text]:focus,input[type=password]:focus,input.text:focus,input.title:focus,textarea:focus,select:focus{border-color:#666;}
input[type=text],input[type=password],input.text,input.title,textarea,select{margin:0.5em 0;}
input.text,input.title{width:300px;padding:5px;}
input.title{font-size:1.5em;}
textarea{width:390px;height:250px;padding:5px;}
input[type=checkbox],input[type=radio],input.checkbox,input.radio{position:relative;top:.25em;}
.pageinfo {float: right;font-size: 12px; color: #000}
.container {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
} 

/* custom.css */

/* helpers */
.center {
  text-align: center;
}

body {
  font-size: 100%; /* 16px */
  color: #191919;
  background: #EAE8E8;
  font-family: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.food p,
.acc p,
.travel p,
.register p,
.pricing p {
  width: 48%;
}

.header p,
.travel p,
.video_container p,
.pricing p {
  text-shadow: 1px 1px 0px #FFF;
}

.container {
  padding: 3em 0;
}

.header .container {
  padding: 0;
}

.header {
  text-align: center;
  background-color: #EAE8E8;
}

.food .container,
.acc .container,
.travel .container,
.video_container .container,
.register .container {
  padding: 9em 0;
}

.food {
  padding-top: 9em;
  padding-bottom: 9em;
  background: #D82812 url('../images/couchcamp_travel_bottom.png') repeat-x 50% 0;
}

.food .container {
  background: #FFF url('../images/couchcamp_food.png') no-repeat 95% 50%;
  padding-top: 6em;
  padding-bottom: 6em;
}

.food p, 
.food h2 {
  padding: 0 5%;
}

.food p {
  width: 40%;
}

.acc {
  background: #191919 url("../images/couchcamp_borte.png") repeat-x 50% 0;
  color: #EAE8E8;
}

.acc .container {
  background: transparent url('../images/couchcamp_acc.png') no-repeat 100% 24px;
}

.travel {
  background: #EAE8E8 url("../images/couchcamp_leaf_borte.png") repeat-x 0 0;
}

.travel .container {
  background: transparent url('../images/couchcamp_travel.png') no-repeat 100% 50%;
}

.video_container {
  background: #D82812 url('../images/couchcamp_speaker.png') no-repeat 50% 6em;
}

.video_container .container {
  height: 408px;
}

.video_wrapper {
  padding-top: 2.3em;
  background: #EAE8E8 url('../images/couchcamp_rhombs.png') repeat-x 50% 0;  
}

.videos {
  width: 30%;
  float: left;
  padding: 0 5%;
}

.video {
  width: 50%;
  float: right;
  padding: 0 5%;
}

.video_list {
  max-height: 300px;
  overflow: auto;
}

.videos p, 
.video p {
  width: auto;
}

.bio img {
  display: block;
  margin-bottom: 1.5em;
}

.videos ul {
  margin: 1.5em 0;
  padding: 0;
  list-style: none;
}

.videos ul li {
  margin: 0;
  padding: .2em;
  list-style: none;
  border-bottom: 1px solid #B6B0AF;
}

.videos ul li a, 
.videos ul li a:link, 
.videos ul li a:visited {
  border: none;
}

.videos ul li a:hover, 
.videos ul li a:active, 
.videos ul li a:focus {
  border: none;
}

.pricing {
  padding-top: 3em;
  background: #EAE8E8 url('../images/couchcamp_rhombs.png') repeat-x 50% 0;  
}

.pricing .container {
  padding: 12em 0;
  background: #EAE8E8 url('../images/couchcamp_price_500.png') no-repeat 100% 50%;
}

.register {
  color: #EAE8E8;
  background: #191919 url('../images/couchcamp_rhombs_02.png') repeat-x 50% 0;
}
.register p {
  width: auto;
}

.footer {
  color: #EAE8E8;
  background: #191919;
}
.footer .container {
  padding: 3em 0 0 0;
}
.copyright {
  margin-bottom: 0;
  padding: 1.5em 0;
  background: transparent url("../../img/couchio_pretty_hr_black.png") no-repeat 50% 0; 
}

/* headings */


h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  color: #191919;
  font-weight: normal;
}
h1 {
  font-size: 4em;
  line-height: 1;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
  text-shadow: 1px 1px 1px #FFF;
}

.acc h2, 
.register h2 {
  color: #EAE8E8;
  text-shadow: 1px 1px 1px #000;
}

.video_container h2 {
  text-shadow: none;
}

h3, .h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4, .h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5, .h5 {
  font-size: 1em;
  margin-bottom: 1.5em;
}
h6, .h6 {
  font-size: 1em;
}

h2.ornament {
  padding-bottom: .75em;
  background: transparent url('../images/couchcamp_h_ornament.png') no-repeat 50% 100%;
}

/* special paragraphs */
.claim {
  margin: .75em auto;
  color: #D82812;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.sun {
  text-align: center;
  margin: 0 auto 92px auto;
  padding-top: 72px;
  width: auto;
  height: 187px;
  background: transparent url('../images/couchcamp_sprite.png') no-repeat 50% 100%;
  color: #FFF;
}
.sun p {
  text-shadow: 1px 1px 0px #5E5452;
  text-align: center;
}

.video_container .lead {
  font-size: 1.2em;
  padding: 0 5%;
}

.info {
  font-size: 1.25em;
  margin-bottom: .6em;
  text-align: center;
}

/* Standard Links */
a,
a:link,
a:visited {
  color: #D82812;
  text-decoration: none;
  border-bottom: 1px dotted #B6B0AF;
}

a:hover,
a:active,
a:focus {
  color: #FB5000;
  text-decoration: none;
  border-bottom: 1px dotted #5E5452;
  outline: none;
}
.acc a,
.acc a:link,
.acc a:visited,
.sun a,
.sun a:link,
.sun a:visited {
  color: #EAE8E8;
  border-bottom: 1px dotted #D82812;
  text-decoration: none;
}

.sun a,
.sun a:link,
.sun a:visited {
  color: #FFF;
  border-bottom: 1px dotted #EAE8E8;
}

.acc a:hover,
.acc a:active,
.acc a:focus,
.sun a:hover,
.sun a:active,
.sun a:focus {
  color: #FFF;
  border-bottom: 1px dotted #FFF;
  outline: none;
}

.sun a:hover,
.sun a:active,
.sun a:focus {
  border-bottom: 1px dotted #191919;
}

.sun p:first-child {
  font-size: 2em;
  margin-bottom: 0;
}

.sun_info {
  font-size: 1.5em;
  font-style: italic;
}

/* forms */

.register_mod {
  margin: 4.5em auto;
  background: #191919 url('../images/strokes_shadow.png') repeat 0 0;
  overflow: hidden;
}

.register_mod div {
  margin: 1.5em;
  background: #191919;
  overflow: hidden;
}

.register_mod div div {
  margin: .75em;
  padding: 3em 1.5em;
  border: 1px solid #D82812;
  background: #191919;
}

.label {
  margin-bottom: 0;
}


@media screen and (max-device-width: 970px), screen and (max-width: 970px) {
  .container {
    width: auto;
  }
  
  .food .container,
  .travel .container,
  .acc .container,
  .pricing .container {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}


@media screen and (max-device-width: 750px), screen and (max-width: 750px) {
  .container,
  .register_mod,
  .food p, .acc p, .travel p, .video_container p, .register p, .pricing p {
    width: auto;
  }
  
  .videos ul li,
  h2 {
    text-align: center;
  }
  
  .food .container,
  .travel .container,
  .acc .container,
  .video_container .container,
  .pricing .container {
    padding: 18em 1em 1.5em 1em;
    background-position: 50% 3em !important;
  }

  .food .container {
    padding-top: 21em;
  }
  
  .acc .container {
    padding-top: 33em;
    background-position: 50% 1.5em !important;
  }

  .travel .container {
    padding-top: 21em;
  }

  .video_container .container {
    margin: 3em 0;
    padding-top: 1.5em;
    background: #D82812;
    height: auto;
  }
  
  .video_container .lead {
    background-color: #EAE8E8;
    padding: 1.5em 5%;
    margin-bottom: 0;
  }

  .videos, .video {
    float: none;
    padding: 1.5em 1em;
    width: auto;
    background: #EAE8E8;
  }
  
  .bio img {
    margin: 0 auto 1.5em; 
  }

  .pricing .container {
    padding-top: 30em;
  }
  
  .food p, .acc p, .travel p, .video_container p, .video_container ul, .pricing p {
    padding-left: 3em;
    padding-right: 3em;
  }
  
  .logo {

  }
}

@media screen and (max-device-width: 480px), screen and (max-width: 495px) {
  .info {
    margin-top: -1.5em;
  }
  
  .food p, .acc p, .travel p, .video_container p, .video_container ul, .pricing p {
    padding-left: 0;
    padding-right: 0;
  }
}

.bio {
  display: none;
}

.bio div img {
  width: 370px;
  height: 160px;
  margin: 0 0 0 0;
}

.damien {
  display: block;
}

.smallMessage {font-size: 13px;}


.dialog-overlay {
  display: none; 
  z-index: 101; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #666;
  opacity: 0.5;
}

.dialog {
  display: none;
  z-index: 102;
  top: 101px; 
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
}

.dialog-frame {
  width: 500px;
  visibility: visible; 
  margin: 0 auto;
  text-align: left;
}

.dialog-header {

}

.dialog-body {
  overflow: auto;
  font-size: 1.3em;
  padding: 15px;
}

.dialog-instruction {
  padding: 0 0 7px;
}

.dialog-footer {
  font-size: 1.3em;
  background: #eee;
  padding: 10px;
}

.dialog-busy {
  width: 400px;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


/* devseed stylez */

/**
 * Base styles.
 * Provides sensible defaults for everything to save you time. Override
 * with an empty stylesheet to start over from scratch.
 */

/**
 * Tables =============================================================
 */
.devseed table {
  width:100%;
  margin:0px 0px 20px;
  }

.devseed table th,
.devseed table td { vertical-align:middle; }

/**
 * Forms ==============================================================
 */
.devseed input.form-text,
.devseed select,
.devseed textarea { border:1px solid #ccc; }

.devseed input.form-submit,
.devseed label { font-weight:bold; }

.devseed input.form-submit { cursor:pointer; }

.devseed input.form-radio,
.devseed input.form-checkbox { vertical-align:middle; }

.devseed .form-item .description,
.devseed .description {
  color:#666;
  font-size:11px;
  }

.devseed fieldset.collapsible .fieldset-title { cursor:pointer; }
.devseed html.js fieldset.collapsed .fieldset-content { display:none; }

/**
 * Views ==============================================================
 */
.devseed table.grid-2 td { width:50%; }
.devseed table.grid-3 td { width:33.3%; }
.devseed table.grid-4 td { width:25%; }
.devseed table.grid-5 td { width:20%; }
.devseed table.grid-6 td { width:16.6%; }
.devseed table.grid-7 td { width:14.2%; }
.devseed table.grid-8 td { width:12.5%; }

/**
 * Markup free clearing ===============================================
 *
 * Consider adding your own selectors to this instead of finding ways
 * to sneak the clear-block class into Drupal's markup.
 * From http://www.positioniseverything.net/easyclearing.html
 */
.devseed ul.links:after,
.devseed .clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

  /* Exclude inline links from clear-block behavior */
  .devseed ul.inline:after {
    content: "";
    display:none;
    clear:none;
    }

.devseed ul.links,
.devseed .clear-block {
  display: inline-block;
  }

/* Hides from IE-mac \*/
.devseed * html ul.links,
.devseed * html .clear-block {
  height: 1%;
  }

.devseed ul.links,
.devseed .clear-block {
  display: block;
  }
/* End hide from IE-mac */


/**
 * Container styles ===================================================
 */
.devseed div.block,
.devseed div.block div.block-content {
  background:transparent;
  border:0px;
  margin:0px;
  padding:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  }

.devseed .locationContainer #mapContainer { height: 200px;}
.devseed .locationContainer #map-wrapper {display: none;}
.devseed .locationContainer { height: 335px }
.devseed .locationContainer .map-fieldset {height: 285px}
.devseed #title {width: 500px; margin: 0 auto; height: 25px; line-height: 25px; margin-top: 10px}
.devseed #title p { float: right}
.devseed .loading {background-image:url(http://fbi.gov/spinner.gif); background-repeat: no-repeat; background-position: 99% center;}

.devseed .crosshair {z-index: 666; display: none; position: absolute; top: 35px; left: 125px;}
.devseed .left, .devseed .right, .devseed .top, .devseed .bottom {position: relative; background-color: #000; float: left;}
.devseed .left, .devseed .right {height: 10px; width: 60px;}
.devseed .top, .devseed .bottom {height: 60px; width: 10px;}
.devseed .top    {top: 0px; left: 155px;}
.devseed .left   {top: 85px; left: 0px;}
.devseed .right  {top: 85px; left: 180px;}
.devseed .bottom {top: 120px; left: 25px;}

.devseed .column-side .fieldset-title { position: relative; }
.devseed .column-side .fieldset-title a {color: #666674;}

.devseed .sidebar .block,
.devseed .page-content .node,
.devseed .page-content div.block,
.devseed .page-content div.pager,
.devseed .page-content div.view-empty,
.devseed .page-content .view-content .item-list,
.devseed .page-content .view-content table,
.devseed .page-content #content-wrapper {
  -moz-box-shadow:#999 0px 0px 3px;
  -webkit-box-shadow:#999 0px 1px 3px;
  }

.devseed .sidebar .block,
.devseed .page-content .node,
.devseed .page-content div.block,
.devseed .page-content div.pager,
.devseed .page-content div.view-empty,
.devseed .page-content .view-content .item-list,
.devseed .page-content .view-content table,
.devseed .page-content #content-wrapper {
  border:0px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

/**
 * Rightbar ===========================================================
 */
.devseed div.sidebar { padding:10px 10px 10px 0px; }

.devseed .page-content #content-wrapper,
.devseed div.page-content div.block,
.devseed div.sidebar div.block,
.devseed #palette .block-toggle {
  background:#f8f8f8;
  margin:0px 0px 10px;
  }

  .devseed .page-content #content-wrapper,
  .devseed div.admin-panel,
  .devseed div.sidebar .block .block-content,
  .devseed div.page-content .block .block-content { padding:10px; }

.devseed div.sidebar div.block-title,
.devseed div.page-content div.block-title {
  -moz-border-radius:5px 5px 0px 0px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  padding:5px 10px 4px;
  border-bottom:1px solid #ddd;
  background:#eee;
  font-weight:bold;
  font-size:11px;
  text-transform:uppercase;
  }
  

p:last-child { margin:0px; }

hr { display:none; }

/**
 * Toggleables ========================================================
 */
.toggleable { display:none; }

/**
 * Generic ============================================================
 */
.page-content dl dt {}
.page-content dl dd,
.page-content dl dl {
  margin-left:20px;
  margin-bottom:10px;
  }

/**
 * Console ============================================================
 */
div.messages {
  padding:15px;
  color:#036;
  background-color:#f8f8f8;
  border:5px solid #fff;
  }

table tr.warning th,
div.warning {
  color:#a84;
  background-color:#fff4c0;
  }

table tr.error th,
div.error {
  color:#965;
  background-color:#ffe4e0;
  }

table tr.ok th,
table tr.info th,
div.status {
  color:#687;
  background-color:#ecf8f4;
  }

  div.error   { border-color:#fff8f4; }
  div.warning { border-color:#fffce4; }
  div.status  { border-color:#f8fffc; }

/**
 * Pagers =============================================================
 */
.pager {
  font-weight:normal;
  font-size:11px;
  }

  .pager ul.pager-list { float:left; }
  .pager ul.pager-links { float:right; }

/**
 * Menus, lists =======================================================
 */
.help-items ul li,
.confirmation ul li,
.item-list ul li,
.prose .item-list li,
.menu li {
  float:none;
  display:block;
  padding:5px 10px 4px;
  border-bottom:1px solid #f4f4f4;
  }

  .help-items ul li:last-child,
  .confirmation ul li:last-child,
  .item-list ul li:last-child,
  .prose .item-list li:last-child,
  .menu li:last-child {
    border-bottom:0px;
    padding-bottom:5px;
    }

.admin-list li a span.icon {
  position:absolute;
  left:10px;
  top:10px;
  }

  .admin-list-compact li a span.icon { top:5px; }

.node-type-list li,
.admin-list li {
  position:relative;
  padding:10px 5px 9px 50px;
  margin:0px;
  border-bottom:1px solid #e8e8e8;
  }

  .node-type-list li:last-child,
  .admin-list li:last-child {
    padding-bottom:10px;
    border:0px;
    }

  ul.node-type-list label { font-size:15px; }

/**
 * Tables =============================================================
 */
table {
  width:100%;
  font-size:11px;
  line-height:15px;
  margin:0px 0px 10px;
  background-color:#fff;

  border-collapse:collapse;
  border-color:#ccc #ddd #eee;
  border-width:1px;
  border-style:solid;
  }

  .fieldset table { margin:0px; }

table td,
table th {
  vertical-align:top;
  border-width:1px 0px;
  border-style:solid;
  border-color:#ddd;
  padding:5px;
  }

table th {
  text-align:left;
  font-weight:normal;
  color:#666;
  background:#eee;
  }

  table thead th { border-top-color:#ccc; }

table td.active { background:#e4f0f8; }
table tr.odd td.active { background:#ecf8fc; }

table tr.selected td.active,
table tr.selected td {
  background:#ffc;
  border-color:#eeb;
  }

/* Block administration */
table tr.region td { background:#f8f8f8; }

/* Hide tabledrag markers */
table tr.draggable span.tabledrag-changed { display:none; }

/**
 * Forms ==============================================================
 */
.block,
.item-list,
.help-items ul,
.form-item,
.confirmation ul,
.admin-list,
.node-type-list,
.admin-panel {
  background:#fff;
  margin:0px 0px 10px;

  border-width:1px;
  border-style:solid;
  border-color:#ccc #ddd #eee;
  }

  .form-item {
    position:relative;
    padding:9px;
    }

  .admin-list { margin:0px; }

.block .item-list,
.block .form-item,
.admin-panel .admin-list,
.teaser-checkbox .form-item,
.form-item .form-item,
.fieldset .form-item,
table .form-item {
  background:transparent;
  padding:5px;
  margin:0px;
  border:0px;
  }

  .block .item-list,
  .admin-panel .admin-list,
  .form-item .form-item-filter { padding:0px; }

.form-item label {
  margin:0px;
  padding:0px;
  color:#999;
  font-weight:bold;
  font-size:10px;
  text-transform:uppercase;
  }

  .form-item label.option {
    text-transform:none;
    font-size:11px;
    }

  .form-item label.option input { vertical-align:middle; }

.page-content .password-description,
.page-content .password-strength,
.page-content .description,
.page-content .form-item .description {
  line-height:15px;
  font-size:11px;
  white-space:normal;
  }

  .admin-panel p.description {
    background:#eee;
    border-top:1px solid #ddd;
    border-bottom:1px solid #fff;
    line-height:20px;
    font-size:11px;
    padding:4px 9px;
    margin:0px;
    }

.fieldset .description { margin:0px 0px 10px; }

.page-content .form-item .description {
  position:absolute;
  bottom:100%;
  right:-15px;
  z-index:5;

  color:#687;
  background:url(images/popup.png) 50% 100% no-repeat;
  border-top:1px solid #d8e4e0;

  width:240px;
  margin:0px 0px -15px;
  padding:9px 10px 20px;
  display:none;
  }

  .page-content .form-item:hover {
    z-index:1;
    height:auto; /* Fix for flicker in IE7 */
    }

  .page-content .form-item:hover > .description { display:block; }

input.teaser-button,
input.form-submit {
  cursor:pointer;
  padding:2px 10px;
  color:#333;

  text-align:center;

  font-weight:normal;
  border-width:1px;
  border-style:solid;
  border-color:#ddd #ddd #ccc;
  background:#f4f4f4 url(images/bleeds.png) 0px -41px repeat-x;
  }

  input.form-submit:hover {
    border-color:#999 #999 #888;
    background:#888 url(images/bleeds.png) 0px 0px repeat-x;
    color:#fff;
    }

  input.form-submit:active {
    background:#666;
    color:#fff;
    }

  /* Teaser splitter */
  .teaser-checkbox {
    position:relative;
    z-index:2;
    }

  .teaser-checkbox div { margin:5px 0px 0px; }

  input.teaser-button {
    padding:0px 5px;
    font-size:11px;
    }

  form input#edit-delete { color:#ccc; }

/* Filter form */
.filter-options .form-item,
.filter-options .filter-help {
  font-size:11px;
  margin:10px 10px 0px 0px;
  padding:0px;
  float:left;
  }

  .filter-options .form-item:hover > .description { display:none; }

input.form-autocomplete,
input.form-text,
textarea.form-textarea,
select.form-select {
  padding:2px;
  border-width:2px;
  border-style:solid;
  border-color:#e8e8e8 #f0f0f0 #f8f8f8;
  background:#fff;
  color:#666;
  max-width:100%;
  }

  input.form-autocomplete:hover,
  input.form-text:hover,
  textarea.form-textarea:hover,
  select.form-select:hover,
  input.form-autocomplete:focus,
  input.form-text:focus,
  textarea.form-textarea:focus,
  select.form-select:focus {
    color:#333;
    border-color:#ace;
    }

  input.fluid {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:100%;
    }

    table input.fluid { width:auto; }

  html.js input.form-autocomplete { background-position:100% 7px; }
  html.js input.throbbing { background-position:100% -13px; }

  /* Exceptions */
  #diff-inline-form select,
  #content .filter-options select { padding:0px; }

/* Fieldsets */
.fieldset,
.fieldset-title,
.fieldset-title a,
.fieldset-content { display:block; }

.fieldset { margin:0px 0px 10px; }

.fieldset.titled {
  display:block;
  position:relative;
  min-height:30px;
  }

.fieldset-title {
  display:block;
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  border-width:1px;
  border-style:solid;
  border-color:#ccc #ddd #eee;
  }

.container-inline .fieldset-title .fieldset-content,
.fieldset.titled .fieldset-content {
  display:block;
  padding-top:40px;
  }

.item-list h3,
.block .block-title,
.admin-panel h3,
.fieldset-title,
.collapsible .fieldset-title a {
  display:block;
  font-size:11px;
  margin:0px;
  padding:4px 9px 5px;
  color:#333;
  background:#f4f4f4;
  }

  .fieldset-title,
  .collapsible .fieldset-title a { padding-bottom:4px; }

  /* Explicit height for IE */
  .collapsible .fieldset-title a { height:20px; }

  .admin-panel h3 { background:#eee; }

  .collapsible .fieldset-title span.icon {
    position:absolute;
    left:-20px;
    top:4px;
    background:url(images/sprite.png) 0px -20px no-repeat;
    width:20px;
    height:20px;
    display:block;
    cursor:pointer;
    }

    html.js .collapsed .fieldset-title span.icon { background-position:0px 0px; }

    .fieldset .collapsible .fieldset-title span.icon { display:none; }

  .collapsed .fieldset-title a {
    background:#eee;
    color:#999;
    }

  .collapsed .fieldset-title a:hover { color:#666; }

  .collapsible .fieldset-title {
    padding:0px;
    background:transparent;
    }

  .collapsed .fieldset-title a { padding-bottom:4px; }

.block .block-content,
.container-inline .fieldset-content,
.fieldset-content {
  padding:10px 9px 9px;
  background:#fff;
  }

  .container-inline .fieldset-content,
  .fieldset-content {
    border-width:1px;
    border-style:solid;
    border-color:#ccc #ddd #eee;
    }

  .titled .fieldset-content { border-width:0px 1px 1px; }

  html.js .collapsed .fieldset-content { display:none; }

  .fieldset .fieldset .fieldset-content { background:#fff; }

/**
 * Form layout: Default ===============================================
 */


.column-main {
  float:left;
  width:100%;
}

.column-side {
  float:right;
  width:50%;
}

  .column-side .column-wrapper { padding-left:10px; }

.column-footer { clear:both; }

form .buttons {
  background:#eee;
  border:1px solid #ddd;
  padding:9px;
  }

  .form-layout-default .column-side .buttons { margin:0px 0px 10px; }
  .form-layout-default .column-side .buttons input.form-submit { margin:1px 0px; }

/**
 * "Boxes" aka generic wrappers =======================================
 */
.box-title {
  font-weight:normal;
  font-size:10px;
  text-transform:uppercase;

  background:#eee;
  border:1px solid #ddd;
  padding:4px 9px;
  margin:0px 0px 10px;
  }

/**
 * System =============================================================
 */
.admin .right {
  padding-left:5px;
  float:right;
  }

.admin .left {
  padding-right:5px;
  float:left;
  }

.admin .right,
.admin .left {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width:50%;
  margin:0px;
  }

/* admin/content/node & admin/user/user */
#content dl.multiselect,
#content dl.multiselect dt,
#content dl.multiselect dd { margin:0px 10px 0px 0px; }

#content dl.multiselect select {
  font-size:11px;
  background:#fff;
  border-style:solid;
  border-width:2px;
  border-color:#e8e8e8 #f0f0f0 #f8f8f8;
  }

/* update options */
.admin-options {
  background:#f8f8f8;
  line-height:30px;
  height:30px;
  padding:9px;
  border:1px solid #ddd;
  margin:0px 0px 10px;
  }

.admin-options label,
.admin-options .form-item {
  margin-right:10px;
  float:left;
  }

.admin-options .form-item {
  padding:0px;
  border:0px;
  }

/* dependency colors */
.admin-dependencies,
.admin-required { color: #666; }
.admin-disabled { color: #900; }
.admin-enabled { color: #099; }
.admin-missing { color: #c30; }

/**
 * Help pages =========================================================
 */
.help-items { float:left; width:25%; }
.help-items ul { margin:10px 5px; }

/**
 * Form description exceptions ========================================
 */

/**
 * Some form elements are either too weirdly positioned or really benefit
 * from persistent descriptions. Reset for all of these.
 */
.ctools-export-ui-row .form-item,
.ctools-export-ui-row .form-item .description,
.multiselect .form-item,
.multiselect .form-item .description,
.page-content table .form-item,
.page-content table .form-item .description,
.page-content .form-item .widget-edit .description,
#upload-attachments .description,
#views-ajax-pad .form-item,
#views-ajax-pad .form-item .description {
  width:auto;
  padding:0px;
  margin:0px;
  border:0px;
  background:transparent;
  position:static;
  display:block;
  }

.ctools-export-ui-row .form-item:hover,
.multiselect .form-item:hover,
.page-content table .form-item:hover,
#views-ajax-pad .form-item:hover { position:static; }

.page-content table .form-item .description,
#upload-attachments .description,
#views-ajax-pad .form-item .description {
  padding:0px;
  color:#666;
  display:block;
  max-width:none;
  }

/**
 * Form containers ====================================================
 */
.container-inline div {
  display:inline;
  border:0px;
  padding:0px;
  background:transparent;
  }

.container-inline { margin:0px 0px 10px; }

.buttons .container-inline { margin:0px; }

/**
 * ORPHANED MARKUP ====================================================
 * The following selectors target markup generated by Drupal that have
 * exactly 1 or extremely few instances. It will make a great future
 * hitlist of markup to consolidate and generalize.
 */
.compact-link {
  font-size:11px;
  margin:0px 0px 10px;
  }

.compact-link a {
  border:1px solid #ddd;
  padding:4px 9px;
  color:#666;
  background:#fff;
  }